apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-configmap
data:
  nginx.conf: |
    events {
      worker_connections 1024;
    }

    http {
      include mime.types;
      default_type application/octet-stream;
      sendfile on;
      keepalive_timeout 65;
      client_max_body_size 1024m;

      proxy_buffering on;
      proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=small:128m inactive=1h max_size=5g use_temp_path=off;

      map $request_uri $nocache {
        "~*nocache" 1;
      }

      server {
        listen 8080;
        server_name localhost;

        location /uploads {
          try_files $uri @api_backend;
        }

        location /graphql {
          try_files $uri @api_backend;
        }

        location / {
          proxy_pass http://app-strapi:80;
        }

        location @api_backend {
          error_page 418 = @no_cache;
          recursive_error_pages on;

          if ($nocache) {
            return 418;
          }

          proxy_ignore_headers Cache-Control;
          proxy_cache small;
          proxy_cache_methods GET POST;
          proxy_pass http://app-strapi:80;
          proxy_cache_key "$request_uri|$request_body";
          proxy_cache_valid any 1h;
          proxy_buffers 8 32k;
          proxy_buffer_size 64k;
          proxy_cache_use_stale updating;
          add_header X-Cached $upstream_cache_status;
        }

        location @no_cache {
          proxy_pass http://app-strapi:80;
        }
      }
    }
