name: Expo Publish Dev
on:
  push:
    branches:
      - 'master'
    paths:
      - 'front/**'
  workflow_dispatch:
    name:
      description: 'Manual workflow'

jobs:
  publish:
    name: Install and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - uses: expo/expo-github-action@v5
        with:
          expo-version: 4.x
          expo-username: ${{ secrets.EXPO_CLI_USERNAME }}
          expo-password: ${{ secrets.EXPO_CLI_PASSWORD }}
      - name: Yarn
        run: |
          cd front
          yarn install
          yarn publish-staging
