name: Expo Build Prod
on:
  workflow_dispatch:
    name:
      description: 'Manual workflow'

jobs:
  Build-android:
    name: Build and publish Android for Prod
    runs-on: ubuntu-latest
    env:
      API_URL: https://backoffice-les1000jours.fabrique.social.gouv.fr
      CLEAR_STORAGE: false
      MATOMO_APPLICATION_ID: 43
      MATOMO_ENABLED: true
      MATOMO_URL: https://matomo.fabrique.social.gouv.fr/
      SENTRY_DSN: https://5dbac413000f4a43a073841acebc82f5@sentry.fabrique.social.gouv.fr/55
      SENTRY_ENABLED: true
      SENTRY_TOKEN: ${{ secrets.SENTRY_TOKEN }}
      GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - uses: expo/expo-github-action@v6
        with:
          expo-version: 4.x
          expo-username: ${{ secrets.EXPO_CLI_USERNAME }}
          expo-password: ${{ secrets.EXPO_CLI_PASSWORD }}
      - name: Yarn
        run: |
          cd front
          yarn install
          yarn build-prod:android

  Build-ios:
    name: Build and publish iOS for Prod
    runs-on: ubuntu-latest
    env:
      API_URL: https://backoffice-les1000jours.fabrique.social.gouv.fr
      CLEAR_STORAGE: false
      MATOMO_APPLICATION_ID: 43
      MATOMO_ENABLED: true
      MATOMO_URL: https://matomo.fabrique.social.gouv.fr/
      SENTRY_DSN: https://5dbac413000f4a43a073841acebc82f5@sentry.fabrique.social.gouv.fr/55
      SENTRY_ENABLED: true
      SENTRY_TOKEN: ${{ secrets.SENTRY_TOKEN }}
      GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - uses: expo/expo-github-action@v6
        with:
          expo-version: 4.x
          expo-username: ${{ secrets.EXPO_CLI_USERNAME }}
          expo-password: ${{ secrets.EXPO_CLI_PASSWORD }}
      - name: Yarn
        run: |
          cd front
          yarn install
          yarn build-prod:ios
