name: Publish on ExpoGo (Develop)
on:
  push:
    # branches: [develop, alpha, beta, next]
    branches:
      - '**'
    tags-ignore:
      - v*
    paths:
      - 'front/**'
      - '.github/workflows/expo-publish-develop.yml'
  workflow_dispatch:
    name:
      description: 'Manual workflow'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  Publish:
    name: Publish Develop
    runs-on: ubuntu-latest
    env:
      CLEAR_STORAGE: false
      MATOMO_APPLICATION_ID: 46
      MATOMO_ENABLED: true
      MATOMO_URL: https://matomo.fabrique.social.gouv.fr/
      SENTRY_DSN: https://5dbac413000f4a43a073841acebc82f5@sentry.fabrique.social.gouv.fr/55
      SENTRY_ENABLED: true
      SENTRY_TOKEN: ${{ secrets.SENTRY_TOKEN }}
      GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - uses: expo/expo-github-action@v5
        with:
          expo-version: 4.x
          expo-username: ${{ secrets.EXPO_CLI_USERNAME }}
          expo-password: ${{ secrets.EXPO_CLI_PASSWORD }}
      - uses: socialgouv/actions/k8s-namespace@k8s-namespace
        id: namespace
        with:
          environment: "dev"
      - name: Yarn
        run: |
          cd front
          yarn install
          yarn publish-develop
        env:
          API_URL: https://backoffice-${{ steps.namespace.outputs.value }}.dev.fabrique.social.gouv.fr
